body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif; /* Altera a fonte para Arial ou uma fonte sans-serif genérica */
    text-transform: uppercase; 
}

.container {
    text-align: center;
}

h1 {
    color: lightgreen; /* Cor verde mais claro */
    font-size: 3rem; /* Tamanho do texto */
}
