body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif; /* Altera a fonte para Arial ou uma fonte sans-serif genérica */
    text-transform: uppercase; 
}

.container {
    text-align: center;
}

h1 {
    color: lightgreen; /* Cor verde mais claro */
    font-size: 3rem; /* Tamanho do texto */
}
df-messenger {
    z-index: 999;
    position: fixed;
    --df-messenger-font-color: #000;
    --df-messenger-font-family: Google Sans;
    --df-messenger-chat-background: #f3f6fc;
    --df-messenger-message-user-background: #d3e3fd;
    --df-messenger-message-bot-background: #fff;
    bottom: 0;
    right: 0;
    top: 0;
    width: 350px;
}